PC_RI-II_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    version="1.0.0" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:dsi="https://ptb.de/si"
    xmlns:kc="KC_Schema"
    targetNamespace="PC_RI-II_Schema"
	    xmlns:pc="PC_RI-II_Schema"
	    elementFormDefault="qualified">   <!-- Define namespaces -->

        <xs:import namespace = "https://ptb.de/si" schemaLocation = "https://www.ptb.de/si/v2.2.0/SI_Format.xsd"/> <!-- Import namespaces -->

    <xs:annotation>
        <xs:documentation xml:lang="en">
            This schema is a machine-readable version of BIPM.RI(II) pilot comparisons.
        </xs:documentation>
	    <xs:documentation xml:lang="en">
            MIT License
            
            Copyright (c) 2023 Bureau International des Poids et Mesures
            
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
            
            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.
            
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </xs:documentation>
		<xs:documentation xml:lang="en">
            CONTACT: digital.ri@bipm.org
			DEVELOPMENT: https://github.com/DigitalRI-BIPM/CCRI-II-PC/
			VERSION: 1.0.0
			RELEASE DATE: 
			DOI:
        </xs:documentation>
    </xs:annotation>

	<!-- Define a software (NEW) -->
    <xs:complexType name = "softwareType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    A software for signal processing is defined by: 
                    _ The name of the software
					_ The software version
                    _ The owner laboratory
                    _ The software application (Activity Estimation, Counting Rate, Multi Application)
                    _ The DOI identifier (when available): https://doi.org/
                </xs:documentation> 
            </xs:annotation>                                                                  
            <xs:element name = "softwareName" type = "xs:string"></xs:element>
			<xs:element name = "softwareVersion" type = "xs:string" minOccurs = "0"></xs:element>
            <xs:element name = "laboratory" type = "kc:laboratoryType"></xs:element>
            <xs:element name = "softwareApplication" type = "xs:string"></xs:element>
            <xs:element name = "doi" type = "xs:anyURI" minOccurs = "0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Define a comparison (NEW) -->	
	<xs:complexType name = "softwareComparisonIDType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The code comparison is defined by:
                    _ the comparison code of the pilot comparison (xml element: "softwareComparisonCode")
                      such as defined in the CIPM MRA https://www.bipm.org/documents/20126/43742162/CIPM-MRA-G-11.pdf
                    _ the service category identifier from the SI Digital Framework https://si-digital-framework.org/kcdb-sc
                    _ the metrological data of the radionuclide gather in the SI Digital Framework https://si-digital-framework.org/kcdb-sc/nucl
                    _ the identification of the pilot laboratory
                    _ the type of measurement of dataset (Experimental or Simulated)
                    _ link to download dataset
                    _ the (eventual) previous comparison that was source for the dataset
                </xs:documentation>
            </xs:annotation>                  
            <xs:element name = "softwareComparisonCode" type="xs:string"></xs:element>
            <xs:element name = "serviceCategoryPID" type="xs:anyURI" minOccurs= "0" maxOccurs = "1"></xs:element>
            <xs:element name = "siDigitalFrameworkRadionuclide" type="xs:anyURI"></xs:element>
            <xs:element name = "pilot" type = "kc:laboratoryType"></xs:element>
            <xs:element name = "datasetMeasType" type="xs:string"></xs:element>
            <xs:element name = "datasetDownLink" type="xs:anyURI"></xs:element>
            <xs:element name = "linkedComparisonCode" type="kc:linkedCompType" minOccurs= "0" maxOccurs = "1"></xs:element>
        </xs:sequence>
    </xs:complexType>

     <!-- Define an activity measurement (NEW) -->
    <xs:complexType name = "activityType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">         
                    The activity measurement is given in a dsi:real element defined in the digital measurement representation https://ptb.de/si.
                    This element is expected to contain a value, a multiple derive unit becquerel,
                    and a standard uncertainty (a coverage factor equal to 1).
                    The quantity activity referred to a radionuclide is defined in https://si-digital-framework.org/quantities/ARRN
                    The derived SI unit becquerel is defined in https://si-digital-framework.org/SI/units/becquerel
                    and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                    Additionally,
                    _ standard uncertainty is given as the same unit as activity measurement (xml element: "standardUnc")
                    _ effective degrees of freedom from uncertainty analysis (xml element: "effDegreesOfFreedom")  
                </xs:documentation>
            </xs:annotation>
            <xs:element name="measurementResult" type="dsi:realQuantityType"></xs:element>
            <xs:element name="standardUnc" type="dsi:valueStandardMUType"></xs:element>
            <xs:element name="effDegreesOfFreedom" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>                                                                          
        </xs:sequence>
    </xs:complexType>

    <!-- Define the metadata of the measurements (NEW) -->
    <xs:complexType name = "measMetaDataType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">         
                    The metadata of pilot software comparisons BIPM.RI(II)-PXXXX provide technical parameters to estimate the activity
                    on each submission (xml element: "submission") that contribute to the realization of the derived unit becquerel for a given radionuclide.
                    The ultimate semantic reference for the becquerel unit is provided by the SI Reference Point: https://si-digital-framework.org/SI/units/becquerel
                </xs:documentation>
            </xs:annotation>
            <xs:element name="software" type = "pc:softwareType"></xs:element>
            <xs:element name="softwareVersion" type = "pc:softwareType" minOccurs = "0"></xs:element>
            <xs:element name="typeOfDeadTimeBetaChannel" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Type of deadtime on beta channel (extendable, non-extendable, common, independent)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="extendable"/> 
                        <xs:enumeration value="non-extendable"/>
                        <xs:enumeration value="common"/>
                        <xs:enumeration value="independent"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="typeOfDeadTimeGammaChannel" minOccurs="0" maxOccurs="1"> <!--4pby-->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Type of deadtime on gamma channel (extendable, non-extendable)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="extendable"/> 
                        <xs:enumeration value="non-extendable"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="coincidenceResolvingTimeBetaChannel" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Coincidence resolving time on beta channel
                            The quantity time is defined in https://si-digital-framework.org/quantities/TIME
                            The SI unit time is defined in https://si-digital-framework.org/SI/units/second
                            and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="coincidenceResolvingTimeGammaChannel" minOccurs="0" maxOccurs="1"> <!--4pby-->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Coincidence resolving time on gamma channel
                            The quantity time is defined in https://si-digital-framework.org/quantities/TIME
                            The SI unit time is defined in https://si-digital-framework.org/SI/units/second
                            and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="deadTimeBetaEvents" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Dead time on beta channel
                            The quantity time is defined in https://si-digital-framework.org/quantities/TIME
                            The SI unit time is defined in https://si-digital-framework.org/SI/units/second
                            and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="deadTimeGammaEvents" minOccurs="0" maxOccurs="1"> <!--4pby-->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Dead time on gamma channel
                            The quantity time is defined in https://si-digital-framework.org/quantities/TIME
                            The SI unit time is defined in https://si-digital-framework.org/SI/units/second
                            and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="delayTimeGammaChannel" minOccurs="0" maxOccurs="1"> <!--4pby-->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Delay time on gamma channel
                            The quantity time is defined in https://si-digital-framework.org/quantities/TIME
                            The SI unit time is defined in https://si-digital-framework.org/SI/units/second
                            and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float"/>
                </xs:simpleType>
            </xs:element>
            <!-- ##################### general description ########################-->
            <xs:element name="typeOfAveraging" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Type of averaging (unweighted, weighted mean)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="unweighted"/> 
                        <xs:enumeration value="weighted mean"/>
                        <xs:enumeration value="other"/> 
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="typeOfUncertaintyPropagation" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Type of uncertainty propagation (variance propagation with covariance, without covariance, Monte-Carlo method)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="variance propagation with covariance"/>
                        <xs:enumeration value="variance propagation without covariance"/> 
                        <xs:enumeration value="monte-carlo method"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="countRateCorrectionType" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Type of counting rate correction (Campion, Müller, Smith, live-time(for TDCR))
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Campion"/>
                        <xs:enumeration value="Müller"/>
                        <xs:enumeration value="Müller + live-time"/> 
                        <xs:enumeration value="Smith"/> 
                        <xs:enumeration value="live-time (TDCR)"/> 
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="extrapolationType" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Type of extrapolation (linear, quadratic, weighted, unweighted)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="linear"/>
                        <xs:enumeration value="quadratic"/>
                        <xs:enumeration value="weighted"/>
                        <xs:enumeration value="unweighted"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="relativeStdUncEfficiency" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Relative standard uncertainty from the efficiency estimation
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- ##################### TDCR additional variables ########################-->
            <xs:element name="correctionAccidentalCoincidences" minOccurs="0" maxOccurs="1"> <!--TDCR-->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Used correction for accidental coincidences (Dustov, other)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="dustov"/> 
                        <xs:enumeration value="other"/> 
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="betaSpectrum" minOccurs="0" maxOccurs="1"> <!--TDCR-->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Spectrum of beta particles
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="stoppingPowerModel" minOccurs="0" maxOccurs="1"> <!--TDCR-->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Stopping power model
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="quenchingModel" minOccurs="0" maxOccurs="1"> <!--TDCR-->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Quenching model
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="birksConstant" minOccurs="0" maxOccurs="1"> <!--TDCR-->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Birks constant
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lowerIntegrationBound" minOccurs="0" maxOccurs="1"> <!--TDCR-->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Lower integration bound
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="asymmetryConsidered" minOccurs="0" maxOccurs="1"> <!--TDCR-->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Asymmetry considered on signal processing
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Define a laboratory measurement -->
    <xs:complexType name = "softwareLabMeasType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    An activity measurement carried out by a laboratory is defined by:
                    _ The reference date (xml element: "referenceDate")
                    _ The identifier (xml element: "methodID") of the standardization method such as it has been defined by the CCRI(II)  https://github.com/RomainCoulon/BIPM.RI-II--K1_database/blob/main/FAIRversions/Acronyms.csv
                    _ A more detailed description of the measurement method in string (xml element: "description")
                    _ Possible additional comments on the measurements (xml element: "comments")
                    _ The result of the activity measurement (xml element: "activity")
                    _ The metadata related to activity estimation (xml element: "activityMetadata")
                </xs:documentation> 
            </xs:annotation> 
            <xs:element name = "referenceDate" type = "xs:dateTime" minOccurs = "0" maxOccurs = "1"></xs:element>
            <xs:element name = "methodID" type = "xs:string" minOccurs = "0" maxOccurs = "1"></xs:element>
            <xs:element name = "description" type = "xs:string" minOccurs = "0" maxOccurs = "1"></xs:element>
            <xs:element name = "comments" type = "xs:string" minOccurs = "0" maxOccurs = "1"></xs:element>
            <xs:element name = "activity" type = "pc:activityType" minOccurs = "0" maxOccurs = "1"></xs:element>
            <xs:element name = "activityMetadata" type = "pc:measMetaDataType" minOccurs = "0" maxOccurs = "1"></xs:element> 
        </xs:sequence>
    </xs:complexType>

    <!-- Define a submission to the NuCodeComp system -->
    <xs:complexType name = "submissionType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">         
                    A submission to obtain a degree of equivalence is described by providing details on:
                    _ The participating laboratory (xml element: "laboratory")
                    _ The year of the participation, ie measurement by the SIR  (xml element: "year")
                    _ The boolean indicator (true or false) saying if the result is used in the KCRV (xml element: "inKCRV")
                    _ The boolean indicator (true or false) saying if the result is currently valid for a degree of equivalence published in the KCDB (xml element: "doeValid")
                    _ Details on the activity measurement carried out by the laboratory (xml element: "laboratoryMeasurements")
                </xs:documentation>
            </xs:annotation>
            <xs:element name = "laboratory" type = "kc:laboratoryType" minOccurs = "0" maxOccurs = "1"></xs:element>										
            <xs:element name = "year" type = "xs:gYear" minOccurs = "0" maxOccurs = "1"></xs:element>
            <xs:element name = "inKCRV" type = "xs:boolean" minOccurs = "0" maxOccurs = "1"></xs:element>
            <xs:element name = "doeValid" type = "xs:boolean" minOccurs = "0" maxOccurs = "1"></xs:element>
            <xs:element name = "laboratoryMeasurements" type = "pc:softwareLabMeasType" minOccurs = "0" maxOccurs = "1"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Define a pilot comparison -->
    <xs:complexType name = "comparisonType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Pilot algorithm comparison results are key in the realization of the derived unit becquerel for a given radionuclide.
                    The ultimate semantic reference for this derived SI unit is provided by https://si-digital-framework.org/SI/units/becquerel
                     
                    Consultative Committee for Ionizing Radiation metrology (CCRI),
                    
                    Additionally, to facilitate machine readability and actionability,
                    the pilot comparison reference value and degrees of equivalence obtained in BIPM.RI(II)-P1 comparisons are made available in this machine-readable document.
                    The metadata supporting these results are also included in this machine-readable document.
                    The root structure is composed of:
                    _ The general information about the key comparison (xml element: "generalInformation")
                    _ The releases with degrees of Equivalence and KCRVs (xml element: "comparisonData")
                    _ The technical metadata supporting these results (xml element: "comparisonSubmissions")
                </xs:documentation> 
            </xs:annotation>
            <xs:element name = "generalInformation" type = "pc:softwareComparisonIDType"  minOccurs = "0" maxOccurs = "1"></xs:element>
            <xs:element name = "comparisonData" type = "kc:comparisonDataType" minOccurs = "0" maxOccurs = "1"></xs:element>
            <xs:element name = "comparisonSubmissions" type = "pc:submissionType" minOccurs = "0" maxOccurs = "1"></xs:element>
        </xs:sequence>
    </xs:complexType>

<!-- Define the main element: "comparison" -->
<xs:element name = "comparison" type ="pc:comparisonType"></xs:element>

</xs:schema>