PC_RI-II_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    version="1.0.0" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:dsi="https://ptb.de/si"
    xmlns:kc="KC_Schema"
    targetNamespace="PC_RI-II_Schema"
	    xmlns:pc="PC_RI-II_Schema"
	    elementFormDefault="qualified">   <!-- Define namespaces -->

        <xs:import namespace = "https://ptb.de/si" schemaLocation = "https://www.ptb.de/si/v2.2.0/SI_Format.xsd"/> <!-- Import namespaces -->

    <xs:annotation>
        <xs:documentation xml:lang="en">
            This schema is a machine-readable version of BIPM.RI(II) pilot comparisons.
        </xs:documentation>
	    <xs:documentation xml:lang="en">
            MIT License
            
            Copyright (c) 2025 Bureau International des Poids et Mesures
            
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
            
            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.
            
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </xs:documentation>
		<xs:documentation xml:lang="en">
            CONTACT: digital.ri@bipm.org
			DEVELOPMENT: https://github.com/DigitalRI-BIPM/CCRI-II-PC/
			VERSION: 1.0.0
			RELEASE DATE: 
			DOI:
        </xs:documentation>
    </xs:annotation>

	<!-- Define a laboratory (from KC_Schema) -->
    <xs:complexType name = "laboratoryType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    A laboratory or a metrological institute is defined by: 
                    _ The acronym given in the list of signatories of the CIPM MRA: https://www.bipm.org/en/cipm-mra/participation/
					_ The past acronyms used for this institute (when applicable)
                    _ The RoR identifier (when available): https://ror.org/ 
                </xs:documentation> 
            </xs:annotation>                                                                  
            <xs:element name = "acronym" type = "xs:string"></xs:element>
			<xs:element name = "pastAcronyms" type = "xs:string" minOccurs = "0"></xs:element>
            <xs:element name = "ror" type = "xs:anyURI" minOccurs = "0"></xs:element>
        </xs:sequence>
    </xs:complexType>

	<!-- Define a software (NEW) -->
    <xs:complexType name = "softwareType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    A software for signal processing is defined by: 
                    _ The name of the software
					_ The software version
                    _ The owner laboratory
                    _ The software application (Activity Estimation, Counting Rate, Multi Application)
                    _ The DOI identifier (when available): https://doi.org/
                </xs:documentation> 
            </xs:annotation>                                                                  
            <xs:element name = "softwareName" type = "xs:string"></xs:element> <!-- SP /software/Title -->
			<xs:element name = "softwareVersion" type = "xs:string" minOccurs = "0"></xs:element> <!-- SP /software/version_software -->
            <xs:element name = "laboratory" type = "kc:laboratoryType"></xs:element> <!-- SP /software/name_lab -->
            <xs:element name = "softwareApplication" type = "xs:string"></xs:element> <!-- SP /software/application_software -->
            <xs:element name = "doi" type = "xs:anyURI" minOccurs = "0"></xs:element> <!-- SP /software/doi_software -->
        </xs:sequence>
    </xs:complexType>

	<!-- Define a linked comparison (from KC_Schema) -->
    <xs:complexType name = "linkedCompType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    In some cases, CCRI(II) or regional key comparisons could have been linked to the SIR.
                    The degrees of equivalence in compliance with BIPM.RI(II)-K1 comparisons are provided.
                    The linked comparison is identified
                    _ by its CIPM-MRA identifier https://www.bipm.org/documents/20126/43742162/CIPM-MRA-G-11.pdf (xml element: "comparisonCode")
                    _ the Consultative Committee (CC) that organize the comparison (xml element: "consultativeCommittee")
                    _ or the Regional Metrology Organization (RMO) that organize the comparison (xml element: "rmo")
                    _ the year when the comparison was carried out (xml element: "year")
                    _ the DOI of the report of the linked comparison (xml element: "doi")  
                </xs:documentation>
            </xs:annotation>
            <xs:element name = "comparisonCode" type="xs:string"></xs:element>
            <xs:element name = "consultativeCommittee" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name = "rmo" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name = "year" type="xs:gYear"></xs:element>
            <xs:element name = "doi" type="xs:anyURI"></xs:element>
        </xs:sequence>
    </xs:complexType>	

    <!-- Define a comparison (NEW) -->	
	<xs:complexType name = "softwareComparisonIDType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The code comparison is defined by:
                    _ the comparison code of the pilot comparison (xml element: "softwareComparisonCode")
                      such as defined in the CIPM MRA https://www.bipm.org/documents/20126/43742162/CIPM-MRA-G-11.pdf
                    _ the service category identifier from the SI Digital Framework https://si-digital-framework.org/kcdb-sc
                    _ the metrological data of the radionuclide gather in the SI Digital Framework https://si-digital-framework.org/kcdb-sc/nucl
                    _ the identification of the pilot laboratory
                    _ the type of measurement of dataset (Experimental or Simulated)
                    _ link to download dataset
                    _ the (eventual) previous comparison that was source for the dataset
                </xs:documentation>
            </xs:annotation>                  
            <xs:element name = "softwareComparisonCode" type="xs:string"></xs:element> <!-- SP /code_comparison/PK acronym_comp: string -->
            <xs:element name = "serviceCategoryPID" type="xs:anyURI" minOccurs= "0" maxOccurs = "1"></xs:element> <!-- SP /code_comparison/radionuclide_SIDF: uri -->
            <xs:element name = "pilot" type = "kc:laboratoryType"></xs:element> <!-- "BIPM" -->
            <xs:element name = "datasetMeasType" type="xs:string"></xs:element> <!-- SP /code_comparison/type_of_data: list<str> -->
            <xs:element name = "datasetDownLink" type="xs:anyURI"></xs:element> <!-- SP /code_comparison/link_dataset: url -->
            <xs:element name = "linkedComparisonCode" type="kc:linkedCompType" minOccurs= "0" maxOccurs = "1"></xs:element> <!-- SP /code_comparison/acronymum_reference_KC: string -->
        </xs:sequence>
    </xs:complexType>

    <!-- Define a degree of equivalence (from KC_Schema) -->
	<xs:complexType name = "doeType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Every participant in a comparison is entitled to have one result included in the KCDB as long as
                    the NMI is a signatory or designated institute listed in the CIPM MRA and the result is valid
                    (i.e., not older than 20 years).
                    An NMI may withdraw its result only if all other participants agree.
                    The degree of equivalence of a given measurement standard is the degree to which this standard is
                    consistent with the KCRV.
                    The degree of equivalence is expressed quantitatively in terms of the deviation from the key comparison
                    reference value and the expanded uncertainty of this deviation ($k = 2$).
                    The CCRI(II) agrees on the following statement on degree of equivalence evaluated in BIPM.RI(II)-K1 comparisons: 
                        _ The degree of equivalence of the result of a particular NMI, $i$, with the key comparison reference value 
                        is expressed as the difference $D_{i}$ between the values $D_{i}=A_{\textrm{e}i}-KCRV$
                        and the expanded uncertainty ($k=2$)  of this difference, $U_{i}$, known as the equivalence uncertainty; hence $U_{i}=2u(D_{i})$.
                        _ When the result of the NMI $i$ is included in the KCRV with a weight $w_{i}$, then $u^{2}(D_{i})=(1-2w_{i})u_i^{2}+u^{2}(KCRV)$.
                        _ However, when the result of the NMI $i$ is not included in the KCRV, then $u^2(D_i)=u_i^2+u^2(KCRV)$.
                        
                    A degree of equivalence is reported with the following elements:
                        _ The laboratory (xml element: "laboratory")
                        _ The degree of equivalence defined by a dsi:real element.
                        This element is expected to contain a value, a multiple of becquerel as unit,
                        and an expanded uncertainty with a coverage factor equal to 2.
                        The becquerel unit is defined in https://si-digital-framework.org/SI/units/becquerel
                        and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                </xs:documentation>
            </xs:annotation>
            <xs:element name = "laboratory" type = "kc:laboratoryType" minOccurs = "0" maxOccurs = "1"></xs:element>
			<xs:element name = "result" type="dsi:realQuantityType" minOccurs = "0" maxOccurs = "1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <!-- Define a sequence of degrees of equivalence (from KC_Schema) -->	
	<xs:complexType name = "doesType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Each time the comparisons are updated, a sequence of degrees of equivalence is published.
                    Sometimes a sequence can be linked to a CCRI(II) or regional comparison.
                </xs:documentation>
            </xs:annotation>
            <xs:element name = "linkedComparison" type = "kc:linkedCompType" minOccurs = "0" maxOccurs = "1"></xs:element>
            <xs:element name = "degreeOfEquivalence" type = "kc:doeType" minOccurs = "0" maxOccurs = "unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

     <!-- Define an activity measurement (NEW) -->
    <xs:complexType name = "activityType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">         
                    The activity measurement is given in a dsi:real element defined in the digital measurement representation https://ptb.de/si.
                    This element is expected to contain a value, a multiple derive unit becquerel,
                    and a standard uncertainty (a coverage factor equal to 1).
                    The quantity activity referred to a radionuclide is defined in https://si-digital-framework.org/quantities/ARRN
                    The derived SI unit becquerel is defined in https://si-digital-framework.org/SI/units/becquerel
                    and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                    Additionally,
                    _ standard uncertainty is given as the same unit as activity measurement (xml element: "standardUnc")
                    _ effective degrees of freedom from uncertainty analysis (xml element: "effDegreesOfFreedom")  
                </xs:documentation>
            </xs:annotation>
            <xs:element name="measurementResult" type="dsi:realQuantityType"></xs:element>
                <!-- <dsi:value>10066</dsi:value> from SP /comparison_data/activity_value: float -->
                <!-- <dsi:unit>\kilo\becquerel</dsi:unit> from SP /comparison_data/activity_dsi_unit: list -->
            <xs:element name="standardUnc" type="dsi:valueStandardMUType"></xs:element>
                <!-- <dsi:valueStandardMU>101</dsi:valueStandardMU> from SP /comparison_data/std_unc_activity: float -->
            <xs:element name="effDegreesOfFreedom" type="xs:integer" minOccurs="0" maxOccurs="1"> <!-- SP /comparison_data/effective_degrees_of_freedom: float -->
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>                                                                          
        </xs:sequence>
    </xs:complexType>

    <!-- Define the metadata of the measurements (NEW) -->
    <xs:complexType name = "measMetaDataType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">         
                    The metadata of pilot software comparisons BIPM.RI(II)-PXXXX provide technical parameters to estimate the activity
                    on each submission (xml element: "submission") that contribute to the realization of the derived unit becquerel for a given radionuclide.
                    The ultimate semantic reference for the becquerel unit is provided by the SI Reference Point: https://si-digital-framework.org/SI/units/becquerel
                </xs:documentation>
            </xs:annotation>
            <xs:element name="activitySoftware" type = "pc:softwareType" minOccurs = "0"></xs:element> <!-- SP /comparison_data/Activity Estimation Software -->
            <xs:element name="activitySoftwareVersion" type = "pc:softwareType" minOccurs = "0"></xs:element> <!-- SP /comparison_data/Activity Estimation Software Version -->
            <xs:element name="countingSoftware" type = "pc:softwareType" minOccurs = "0"></xs:element> <!-- SP /comparison_data/Activity Estimation Software -->
            <xs:element name="countingSoftwareVersion" type = "pc:softwareType" minOccurs = "0"></xs:element> <!-- SP /comparison_data/Activity Estimation Software Version -->
            <xs:element name="typeOfDeadTimeBetaChannel" minOccurs="0" maxOccurs="1"> <!-- SP /comparison_data/type_deadtime_beta_channel: string -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Type of deadtime on beta channel (extendable, non-extendable, common, independent)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="extendable"/> 
                        <xs:enumeration value="non-extendable"/>
                        <xs:enumeration value="common"/>
                        <xs:enumeration value="independent"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="typeOfDeadTimeGammaChannel" minOccurs="0" maxOccurs="1"> <!--4pby-->  <!-- SP /comparison_data/4p_type_deadtime_gamma_channel: string -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Type of deadtime on gamma channel (extendable, non-extendable)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="extendable"/> 
                        <xs:enumeration value="non-extendable"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="coincidenceResolvingTimeBetaChannel" minOccurs="0" maxOccurs="1"> <!-- SP /comparison_data/coincidence_resolving_time_beta_channel: float -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Coincidence resolving time on beta channel
                            The quantity time is defined in https://si-digital-framework.org/quantities/TIME
                            The SI unit time is defined in https://si-digital-framework.org/SI/units/second
                            and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="coincidenceResolvingTimeGammaChannel" minOccurs="0" maxOccurs="1"> <!--4pby--> <!-- SP /comparison_data/4p_coincidence_resolving_time_gamma_channel: float -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Coincidence resolving time on gamma channel
                            The quantity time is defined in https://si-digital-framework.org/quantities/TIME
                            The SI unit time is defined in https://si-digital-framework.org/SI/units/second
                            and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="deadTimeBetaEvents" minOccurs="0" maxOccurs="1"> <!-- SP /comparison_data/deadtime_beta_events: float -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Dead time on beta channel
                            The quantity time is defined in https://si-digital-framework.org/quantities/TIME
                            The SI unit time is defined in https://si-digital-framework.org/SI/units/second
                            and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="deadTimeGammaEvents" minOccurs="0" maxOccurs="1"> <!--4pby--> <!-- SP /comparison_data/4p_deadtime_gamma_events: float -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Dead time on gamma channel
                            The quantity time is defined in https://si-digital-framework.org/quantities/TIME
                            The SI unit time is defined in https://si-digital-framework.org/SI/units/second
                            and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="delayTimeGammaChannel" minOccurs="0" maxOccurs="1"> <!--4pby--> <!-- SP /comparison_data/4p_delay_time_gamma_channel: float -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Delay time on gamma channel
                            The quantity time is defined in https://si-digital-framework.org/quantities/TIME
                            The SI unit time is defined in https://si-digital-framework.org/SI/units/second
                            and the possible prefixes in https://si-digital-framework.org/SI/prefixes
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float"/>
                </xs:simpleType>
            </xs:element>
            <!-- ##################### general description ########################-->
            <xs:element name="typeOfAveraging" minOccurs="0" maxOccurs="1"> <!-- SP /comparison_data/type_of_averaging: string -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Type of averaging (unweighted, weighted mean)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="unweighted"/> 
                        <xs:enumeration value="weighted mean"/>
                        <xs:enumeration value="other"/> 
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="typeOfUncertaintyPropagation" minOccurs="0" maxOccurs="1"> <!-- SP /comparison_data/uncertainty_propagation: string -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Type of uncertainty propagation (variance propagation with covariance, without covariance, Monte-Carlo method)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="variance propagation with covariance"/>
                        <xs:enumeration value="variance propagation without covariance"/> 
                        <xs:enumeration value="monte-carlo method"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="countRateCorrectionType" minOccurs="0" maxOccurs="1"> <!-- SP /comparison_data/count_rate_correction: string -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Type of counting rate correction (Campion, Müller, Smith, live-time(for TDCR))
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Campion"/>
                        <xs:enumeration value="Müller"/>
                        <xs:enumeration value="Müller + live-time"/> 
                        <xs:enumeration value="Smith"/> 
                        <xs:enumeration value="live-time (TDCR)"/> 
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="extrapolationType" minOccurs="0" maxOccurs="1"> <!-- SP /comparison_data/extrapolation: string -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Type of extrapolation (linear, quadratic, weighted, unweighted)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="linear"/>
                        <xs:enumeration value="quadratic"/>
                        <xs:enumeration value="weighted"/>
                        <xs:enumeration value="unweighted"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="relativeStdUncEfficiency" minOccurs="0" maxOccurs="1"> <!-- SP /comparison_data/relative_std_unc_efficiency: float -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Relative standard uncertainty from the efficiency estimation
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- ##################### TDCR additional variables ########################-->
            <xs:element name="correctionAccidentalCoincidences" minOccurs="0" maxOccurs="1"> <!--TDCR--> <!-- SP /comparison_data/tdcr_correction_accidental_coincidences: string -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Used correction for accidental coincidences (Dustov, other)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="dustov"/> 
                        <xs:enumeration value="other"/> 
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="betaSpectrum" minOccurs="0" maxOccurs="1"> <!--TDCR--> <!-- SP /comparison_data/tdcr_beta_spectrum: string -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Spectrum of beta particles
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="stoppingPowerModel" minOccurs="0" maxOccurs="1"> <!--TDCR--> <!-- SP /comparison_data/tdcr_stopping_power_model: string -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Stopping power model
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="quenchingModel" minOccurs="0" maxOccurs="1"> <!--TDCR--> <!-- SP /comparison_data/tdcr_quenching_model: string -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Quenching model
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="birksConstant" minOccurs="0" maxOccurs="1"> <!--TDCR--> <!-- SP /comparison_data/tdcr_birks_constant: float -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Birks constant
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lowerIntegrationBound" minOccurs="0" maxOccurs="1"> <!--TDCR--> <!-- SP /comparison_data/tdcr_lower_integration_bound: float -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Lower integration bound
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:float">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="asymmetryConsidered" minOccurs="0" maxOccurs="1"> <!--TDCR--> <!-- SP /comparison_data/tdcr_asymmetry_considered: boolean -->
                <xs:simpleType>
                    <xs:annotation> 
                        <xs:documentation xml:lang="en"> 
                            Asymmetry considered on signal processing
                        </xs:documentation>
                    </xs:annotation>
                    <xs:restriction base="xs:boolean"/>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Define a release of the comparison (from KC_Schema) -->
	<xs:complexType name = "releaseType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The comparison data is reported with the following elements: 
                     _ The DOI of the related Metrologia technical supplement (xml element: "doi")
                     _ The year of the comparison, meaning the year of the first publication or update of the comparison results (xml element: "year")
                     _ The KCRV (xml element: "KCRV")
                     _ The degrees of equivalence (xml element: "degreesOfEquivalence")
					 
                    In May 2013, the CCRI(II) decided to calculate the KCRV by using the power-moderated weighted mean (PMM).
                    https://doi.org/10.1088/0026-1394/52/3/S200
                    key comparison results can be selected for the KCRV with the following provisions: 
                    _ results for solutions standardized by only primary techniques are accepted, with the exception of radioactive gas standards (for which results from transfer instrument measurements that are directly traceable to a primary measurement in the laboratory may be included); 
                    _ each NMI or other laboratory may use only one result (normally the most recent result or the mean if more than one ampoule is submitted);
                    _ results more than 20 years old are included in the calculation of the KCRV but are not included in data shown in the KCDB or in the plots in this report, as they have expired;Acronym
                    _ possible outliers can be identified on a mathematical basis and excluded from the KCRV using the normalized error test with a test value of 2.5 and using the modified uncertainties;
                    _ results can also be excluded for technical reasons; and
                    _ the CCRI(II) is always the final arbiter regarding excluding any data from the calculation of the KCRV. Although the KCRV may be modified when other NMIs participate, on the advice of the Key Comparison Working Group of the CCRI(II), such modifications are made only by the CCRI(II) during one of its biennial meetings, or by consensus through electronic means (e.g., email) as discussed at the CCRI(II) meeting in 2013.
                                                                
                    The key comparison reference value (KCRV) is defined by a dsi: real element.
                    This element is expected to contain a value, a multiple of becquerel as unit, and a standard uncertainty (a coverage factor equal to 1).
                    The becquerel unit is defined in https://si-digital-framework.org/SI/units/becquerel
                    and the possible prefixes in https://si-digital-framework.org/SI/prefixes					 
                </xs:documentation>
            </xs:annotation>
            <xs:element name = "doi" type="xs:anyURI"></xs:element>
            <xs:element name = "year" type="xs:gYear"></xs:element>
			<xs:element name = "kcrv" type="dsi:realQuantityType" minOccurs= "0" maxOccurs = "1"></xs:element>			
            <xs:element name = "degreesOfEquivalence" type = "kc:doesType" minOccurs ="0" maxOccurs = "unbounded"></xs:element>
		</xs:sequence>
    </xs:complexType>

    <!-- Define a comparison data (from KC_Schema) -->
    <xs:complexType name = "comparisonDataType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    The comparison data is defined as a sequence of every releases of the given comparison.
                    The comparison data contains the final results of the comparison (the KCRV and the degrees of equivalence)
                    that could be used to claim CMC in the related KCDB service category.
                </xs:documentation>
            </xs:annotation> 
            <xs:element name = "release" type = "kc:releaseType"  minOccurs = "0" maxOccurs = "unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Define a laboratory measurement -->
    <xs:complexType name = "softwareLabMeasType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    An activity measurement carried out by a laboratory is defined by:
                    _ The reference date (xml element: "referenceDate")
                    _ The identifier (xml element: "methodID") of the standardization method such as it has been defined by the CCRI(II)  https://github.com/RomainCoulon/BIPM.RI-II--K1_database/blob/main/FAIRversions/Acronyms.csv
                    _ A more detailed description of the measurement method in string (xml element: "description")
                    _ Possible additional comments on the measurements (xml element: "comments")
                    _ The result of the activity measurement (xml element: "activity")
                    _ The metadata related to activity estimation (xml element: "activityMetadata")
                </xs:documentation> 
            </xs:annotation> 
            <xs:element name = "referenceDate" type = "xs:dateTime" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- SP /comparison_data/Created -->
            <xs:element name = "methodID" type = "xs:string" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- SP /code_comparison/comparison_metohd_code: string -->
            <xs:element name = "description" type = "xs:string" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- SP /comparison_data/Typeofmeasurement -->
            <xs:element name = "comments" type = "xs:string" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- SP /comparison_data/comment -->
            <xs:element name = "activity" type = "pc:activityType" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- from "activityType" -->
            <xs:element name = "activityMetaData" type = "pc:measMetaDataType" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- from "measMetaDataType" -->
        </xs:sequence>
    </xs:complexType>

    <!-- Define a submission to the NuCodeComp system -->
    <xs:complexType name = "submissionType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">         
                    A submission to obtain a degree of equivalence is described by providing details on:
                    _ The participating laboratory (xml element: "laboratory")
                    _ The year of the participation, ie measurement by the SIR  (xml element: "year")
                    _ The boolean indicator (true or false) saying if the result is used in the KCRV (xml element: "inKCRV")
                    _ The boolean indicator (true or false) saying if the result is currently valid for a degree of equivalence published in the KCDB (xml element: "doeValid")
                    _ Details on the activity measurement carried out by the laboratory (xml element: "laboratoryMeasurements")
                </xs:documentation>
            </xs:annotation>
            <xs:element name = "laboratory" type = "kc:laboratoryType" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- SP /comparison_data/Laboratory -->										
            <xs:element name = "year" type = "xs:gYear" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- SP /comparison_data/Modified -->
            <xs:element name = "inKCRV" type = "xs:boolean" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- if SP /comparison_data/true/reference_value: float !=0, true -->
            <xs:element name = "doeValid" type = "xs:boolean" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- if SP /comparison_data/effective_degree_of_equivalence: string !=0, true -->
            <xs:element name = "laboratoryMeasurements" type = "pc:softwareLabMeasType" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- from "softwareLabMeasType" -->
        </xs:sequence>
    </xs:complexType>

    <!-- Define the metadata of the key comparison -->
    <xs:complexType name = "compMetaDataType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">         
                    The metadata of pilot comparisons BIPM.RI(II)-P1 provide administrative and technical information
                    on each submission (xml element: "submission") that contribute to the realization of the derived unit becquerel for a given radionuclide.
                    The ultimate semantic reference for the becquerel unit is provided by the SI Reference Point: https://si-digital-framework.org/SI/units/becquerel
                </xs:documentation>
            </xs:annotation>
            <xs:element name = "submission" type = "pc:submissionType" minOccurs = "0" maxOccurs = "unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Define a pilot comparison -->
    <xs:complexType name = "comparisonType">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Pilot algorithm comparison results are key in the realization of the derived unit becquerel for a given radionuclide.
                    The ultimate semantic reference for this derived SI unit is provided by https://si-digital-framework.org/SI/units/becquerel
                     
                    Consultative Committee for Ionizing Radiation metrology (CCRI),
                    
                    Additionally, to facilitate machine readability and actionability,
                    the pilot comparison reference value and degrees of equivalence obtained in BIPM.RI(II)-P1 comparisons are made available in this machine-readable document.
                    The metadata supporting these results are also included in this machine-readable document.
                    The root structure is composed of:
                    _ The general information about the key comparison (xml element: "generalInformation")
                    _ The releases with degrees of Equivalence and KCRVs (xml element: "comparisonData")
                    _ The technical metadata supporting these results (xml element: "comparisonSubmissions")
                </xs:documentation> 
            </xs:annotation>
            <xs:element name = "generalInformation" type = "pc:softwareComparisonIDType"  minOccurs = "0" maxOccurs = "1"></xs:element> <!-- from "softwareComparisonIDType" -->
            <xs:element name = "comparisonData" type = "kc:comparisonDataType" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- from "comparisonDataType" -->
            <xs:element name = "comparisonMetaData" type = "pc:compMetaDataType" minOccurs = "0" maxOccurs = "1"></xs:element> <!-- from "submissionType" -->
        </xs:sequence>
    </xs:complexType>

<!-- Define the main element: "comparison" -->
<xs:element name = "comparison" type ="pc:comparisonType"></xs:element> <!-- from "comparisonType" -->

</xs:schema>